<div class="login-form">
    <form action="" method="post">
        <h2 class="text-center">Iniciar Sesión</h2>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Usuario" required="required">
        </div>
        <div class="form-group my-3">
            <input type="password" class="form-control" placeholder="Contraseña" required="required">
        </div>
        <div class="form-group my-3">
            <button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button>
        </div>
    </form>
    <p class="text-center"><a href="#">Crear usuario nuevo</a></p>
</div>